<div  class="content">
    <div class="first-section w-100 min-vh-100">
        <nav class="navbar navbar-light px-5 py-3 w-100">
            <a class="navbar-brand">
                <img src = "https://www.freepnglogos.com/uploads/netflix-logo-0.png" alt="logo" class="logo">
            </a>
        
        <ul class="nav justify-content-end">
            <li class="nav-item mr-3">
                <select class="form-control form-control-sm text-light bg-transparent">
                    <mat-icon style="color:white;">language</mat-icon>

                    <option class="bg-dark" >English<br/></option>
                    <option class="bg-dark">
                        हिन्दी
                        </option>

                </select>
                <mat-icon>Arrow_down</mat-icon>
            
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" ><a routerLink="/logincard">Sign In</a></button>
            </li>
        </ul>
</nav>

    <div class="text-apresentation d-flex flex-column justify-content-center align-items-center">
        <div class="text-light text-center">
        <h1 class="display-4" style="color:white;"><strong>Unlimited movies, TV<br>shows and more.</strong></h1>
            <h4>Watch anywhere. Cancel anytime.</h4>
        </div>
        </div>
        </div>
 <br>
<app-input></app-input>
<br><br><br><br><br>



<div class="features-section mt-2 p-5 w-100">
    <div class="row justify-content-center">
      <div class="text-group text-light col-xl-6 d-flex align-items-center justify-content-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>Enjoy on your TV.</strong></h1>
          <h4>Watch on smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blue-ray players and more.
          </h4>
        </div>
      </div>

      <div class="animation-tv d-flex justify-content-center align-items-center col-xl-6">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" alt="tv">
        <video src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v" autoplay
          muted playsinline loop class="position-absolute"></video>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100">
    <div class="row justify-content-center">
      <div class="animation-download d-flex justify-content-center align-items-center col-xl-6">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg" alt="mobile"
          class="mobile">
        <div class="mini-gif-group p-3 position-absolute d-flex justify-content-center align-items-center">
          <div class="d-flex align-items-center mr-2">
            <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png" alt="poster"
              class="poster mr-2">
            <div class="text">
              <p class="text-light mb-0">Stranger Things</p>
              <p class="mb-0 text-primary"> Downloading...</p>
            </div>
          </div>
          <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif" alt="gif"
            class="gif">
        </div>
      </div>

      <div class="text-group text-light col-xl-6 d-flex justify-content-center align-items-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>Download your shows to watch offline.</strong></h1>
          <h4>Save your favourites easily and always have something to watch</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100">
    <div class="row justify-content-center">
      <div class="text-group text-light col-xl-6 d-flex align-items-center justify-content-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>Watch everywhere.</strong></h1>
          <h4>Stream unlimited movies and TV shows on your phone,tablet,laptop and TV.</h4>
        </div>
      </div>

      <div class="animation-desktop d-flex justify-content-center align-items-center col-xl-6">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png"
          alt="desktop">
        <video src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v" autoplay
          muted playsinline loop class="position-absolute"></video>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100">
    <div class="row justify-content-center">
      <div class="kids-group d-flex justify-content-center align-items-center col-xl-6">
        <img
          src="https://occ-0-1311-185.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABUb4fcnETtielPJer_ORwZ2iUanycANl37cr81zDaXC9Fmg9c42ofxt0yxetNltG2xUMgf2Aqimz_q1Nsv-38Ng_EjIc.png?r=1b8"
          alt="cartoon">
      </div>

      <div class="text-group text-light col-xl-6 d-flex align-items-center justify-content-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>Create Profiles for children.</strong></h1>
          <h4>Send children on adventures with their favourite characters in a space made just for them - free with your membership.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100 " data-toggle="collapse">
    <div class="d-flex align-items-center justify-content-center flex-column">
      <div style="margin-bottom:30px;">
        <h1 style="color:#fff; font-size: 50px;">
          <strong>
            Frequently asked questions
          </strong>
        </h1>
      </div>
      <div class="toggle-bar">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne" >
              <h2 class="mb-0 d-flex">
                <button class="btn d-flex btn-block text-left btn-toggle collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" #botão>
                  <span class="">What is Netflix?</span>
                  <button class="plus-Button">+</button>
              </button>
              </h2>
            </div>
          </div>
          
          
          <div class="card mt-2">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0 d-flex">
                <button class="btn d-inlineflex btn-block btn-toggle text-left collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="">How much does Netflix cost</span>
                  <button class="plus-Button2">+</button>
              </button>
              </h2>
            </div>
          </div>

          <div class="card mt-2">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0 d-flex">
                <button class="btn d-inlineflex btn-block btn-toggle text-left collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                <span>Where can I watch?</span>
                <button class="plus-Button3">+</button>
              </button>
              </h2>
            </div>
           </div>
         
         
         
           <div class="card mt-2">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0 d-flex">
                <button class="btn d-inlineflex btn-block btn-toggle text-left collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                  aria-controls="collapseFour">
                  <span>How do I cancel</span>
                  <button class="plus-Button4">+</button>
              </button>
              </h2>
            </div>
            </div>
          
            <div class="card mt-2">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0 d-flex">
                <button class="btn d-inlineflex btn-block btn-toggle text-left collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                  aria-controls="collapseFive">
                  What can I watch on Netflix
                  <button class="plus-Button5">+</button>
                </button>
              </h2>
            </div>
           </div>
          
           <div class="card mt-2">
            <div class="card-header" id="headingSix">
              <h2 class="mb-0 d-flex">
                <button class="d-inlineflex btn btn-block btn-toggle text-left collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                  aria-controls="collapseSix">
                  Is netflix good for kids
                  <button class="plus-Button6">+</button>
                </button>
              </h2>
            </div>
            
          </div>
        </div>
      </div>
      
      
      
      </div>
      
</div>
</div>



