::-webkit-scrollbar{
  display: none;
}
.container{
    float:right;
    width:55%;
}
td, th {
    width: 5%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  h1{
    font-size: 1.9em;
     margin-top:10px;
     margin-left:90px;
     margin-right:10px;
     margin-bottom:20px;
      text-align: centre;
  }