
<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/netflix" style="color:white">Netflix</a>
        </li>
      </ul>
    
    </div>
  </div>
</nav>


<router-outlet>   </router-outlet>
<!--<body>
    <button class="btn1" mat-raised-button color="white" ><a routerLink="login">Login</a></button>
    <button class="btn2" mat-raised-button color="white"><a routerLink = "netflix">Netflix</a></button>
</body>-->


