/* You can add global styles to this file, and also import other style files */

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.banner{
    background-image: url('assets/images/banner.jpg');
    background-size: cover;
    background-position: center center;
    color:white;
    object-fit: contain;
    height: 448px;
  }
  
   
